#Dish {
  /*  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; */
  .col-container {
    display: flex;
  }

  .col-1 {
    width: 40vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    border: 2px solid black;
    position: relative;

    img {
      max-width: 200px;
    }

    button {
      position: absolute;
      left: 35px;
      bottom: 10px;
    }
  }

  .col-2 {
    margin-left: 20px;
    .next-box {
      padding: 20px;
      border: 2px solid black;
    }
  }
}
