#Drinks {
  .col-container {
    display: flex;
  }

  .col-1 {
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .col-2 {
    margin-left: 20px;
    .next-box {
      padding: 20px;
      border: 2px solid black;
    }
  }
}
